.container-principal {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    max-width: 768px;
    margin: 0 auto;
    gap: 30px;
    text-align: center;
  }

  .container-jogos {
    width: 100%;
    max-width: 425px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }